#main-container {
  height: 100%;

  & > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > :not(:first-child) {
      margin-top: 30px;
    }
  }
}

#logo-container {
}

#progress-container {
  width: 300px;
  height: 300px;

  border: 9px solid #99eaa1;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  & > .progress {
    font-family: 'Nunito', 'Arial', sans-serif;
    font-size: 38px;
    position: relative;

    & > .session-timer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > .type {
        font-size: 18px;
      }
    }

    & > .session-count {
      position: absolute;
      margin-top: 15px;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
    }
  }
}

#actions-container {}

#inputs-container {
  display: flex;
  flex-direction: column;

  & > .input-container {
    display: flex;
    flex-direction: column;

    width: 300px;
    margin-bottom: 26px;

    border: none;

    & > label {
      font-family: 'Nunito', 'Ubuntu', 'Arial', sans-serif;
      font-size: 18px;
    }

    & > input {
      width: 100%;
    }
  }
}
